@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Eudoxus Sans", sans-serif; */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; 
}


.heading-text {
  @apply w-fit mx-auto sm:text-[2rem] text-[1.75rem] mb-[2rem] font-semibold text-black text-center
}


.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: #65c4fa;
  filter: blur(150px);
}

.overlay {
    position: relative;
  }

.overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.205), transparent);
}





/* the values card */
.flipping_card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: yellow;
}

.flipping_card:hover {
  transform: rotateY(180deg);
}

.front {
  background-color: #085385;
  color: rgb(148, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}
.back {
  background-color: #3498db;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  transform: rotateY('180deg');

}



:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}




.card {
  position: relative;
  width: 14rem;
}

.card__content {
  text-align: center;
  position: relative;
  /* padding: 15em 5em; */
  transition: transform 1s;
  /* // background: pink; */
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background: #CCAB00;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}



.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}



.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #333;
}


.value_card_innovation {
  background: url('/innovation.png');
  background-size: cover;
}



.value_card_curiousity {
  background: url('/curiousity.jpeg');
  background-size: cover;
}

.value_card_collaboration {
  background: url('/collaboration.jpeg');
  background-size: cover;
}

.value_card_integrity {
  background: url('/integrity.jpeg');
  background-size: cover;
  background-position: center;
}

.value_card_inclusion {
  background: url('/toward_inclusivity.png');
  background-size: cover;
}

.value_card_empowerment {
  background: url('/empowerment.jpeg');
  background-size: cover;
}

.value_card_innovation::before, .value_card_curiousity::before, .value_card_collaboration::before, .value_card_integrity::before, .value_card_inclusion::before, .value_card_empowerment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1

}

*:focus {
  background-color: transparent; /* Remove background color */
  box-shadow: none; /* Remove any box shadow */
  outline: none; /* Remove the outline */
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}
/* for removing the highlight */